:root
{
--modal-duration: 1s;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
}

/*  Main box design */
.modal_content
{
    background: #ffffff;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow:  0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.18);
    animation-name: modalopen;
    animation-duration: var(--modal-duration); 
}

.modal_content h1{
    margin-bottom: 1rem;

}

.modal_content p
{
    font-size: 1.2rem; 
    margin-top: 1rem;
}

/* Bigger window */

@media(max-width: 700px)
{
    .modal_content{
        font-size:110px;
    }
}

@media(max-width: 700px)
{
    .text-win{
        font-size:80px;
    }
}
@media(max-width: 700px)
{
    .text-lose{
        font-size:80px;
    }
}
@media(max-width: 700px)
{
    .far{
        font-size:110px;
    }
}
@media(max-width: 700px)
{
    .draw{
        font-size:80px;
    }
}

/* Medium window */

@media(max-width: 500px)
{
    .modal_content{
        font-size:50px;
    }
}

@media(max-width: 500px)
{
    .text-win{
        font-size:50px;
    }
}
@media(max-width: 500px)
{
    .text-lose{
        font-size:50px;
    }
}

@media(max-width: 500px)
{
    .far{
        font-size:80px;
    }
}
@media(max-width: 500px)
{
    .draw{
        font-size:50px;
    }
}

/* Smaller window */
@media(max-width: 300px)
{
    .modal_content{
        font-size:30px;
    }
}

@media(max-width: 300px)
{
    .text-win{
        font-size:30px;
    }
}
@media(max-width: 300px)
{
    .text-lose{
        font-size:30px;
    }
}

@media(max-width: 300px)
{
    .far{
        font-size:50px;
    }
}
@media(max-width: 300px)
{
    .draw{
        font-size:30px;
    }
}

/* This is for animation of the event */
@keyframes modalopen
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}